.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-container {
  display: grid;
  grid-template-rows: 140px 390px;
  grid-template-columns: repeat(10,1fr);
  grid-auto-rows: 100px;
  /* grid-gap: 0.5em; */
  justify-items: start;
  align-items: stretch;
}

.item-1 {
  grid-area: 1 / 1 / 1 / 3;
  justify-self: stretch;

}

.item-2 {
  grid-area: 1 / 3 / 1 / 5;

}

.item-3 {
  grid-area: 1 / 5 / 1 / 7;
}

.item-4 {
  grid-area: 1 / 7 / 3 / 11;
  justify-self: stretch;
}

.item-5 {
  grid-area: 2 / 1 / 2 / 4;
  justify-self: stretch;
}

.item-5-mobile {
  overflow-x: scroll;
  display: none;
}

.item-6 {
  grid-area: 2 / 4 / 2 / 7;
  justify-self: stretch;
}

.selected-info {
  padding-top: 0.5rem;
  text-align: start;
}

/* Responsive belows */

@media only screen and (max-width: 720px) {
  .App-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  
  .selected-info {
    padding: 1rem;
    text-align: center;
  }

  /* style text inside */
  .selected-info * {
    font-size: 2.5rem;
    font-weight: bold;
  }

  /*  cards and charts */
  [class*="item-"] {
    width: 100%;
  }

  /* stat cards */
  .item-1, .item-2, .item-3 {
    margin: 1rem 0;
    justify-self: center;
  }

  /* align cards to middle */
  .item-1 *, .item-2 *, .item-3 *{
    margin: auto;
  }

  /* charts */
  .item-4, .item-5, .item-6 {
    margin: 1.5rem 0;
    overflow: scroll;
  }

  /* hide desktop bar chart */
  .item-5 {
    display: none;
  }

  /* show mobile bar chart */
  .item-5-mobile {
    overflow: scroll;
    display: block;
  }

}